:root {
  --primary-txt-color: #ffffff;
  --secondary-txt-color: #ffffff;
  --tertiary-txt-color: #ffffff;
  --primary-bg-color: rgb(20, 20, 20);
  --secondary-bg-color: rgb(40, 40, 40);
  --tertiary-bg-color: rgb(60, 60, 60);
  --quaternary-bg-color: rgb(80, 80, 80);
}

* {
  font-size: 18px;
}

body {
  color: var(--primary-txt-color);
  background-color: var(--primary-bg-color);
}

header {
  padding: 1rem;
}

h1 {
  font-size: 350%;
}

h2 {
  font-size: 225%;
}

h3 {
  font-size: 150%;
}

header {
  display: flex;
  align-items: center;
}

nav {
  /* width: 15%; */
}

nav ul {
  display: flex;
}

.header-text {
  flex: 1;
  text-align: center;
}

.nav-li {
  height: 3.5rem;
}

.nav-li a {
  font-size: 140%;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  height: 100%;
  border: 2px solid var(--secondary-bg-color);
}

.color-primary {
  color: var(--primary-txt-color);
  background-color: var(--primary-bg-color);
}
.color-secondary {
  color: var(--secondary-txt-color);
  background-color: var(--secondary-bg-color);
}
.color-tertiary {
  color: var(--tertiary-txt-color);
  background-color: var(--tertiary-bg-color);
}
.color-quaternary {
  color: var(--tertiary-txt-color);
  background-color: var(--quaternary-bg-color);
}

.page-container {
  display: flex;
  position: relative;
}

.main-container {
  max-width: 1200px;
  margin: 1rem auto 0rem auto;
  width: 75%;
  padding: 0rem 2rem 2rem 2rem;
}

.section {
  margin-top: 3rem;
}

.section-header {
  padding: 1rem 1rem;
}
.section-content {
  padding: 1rem 1rem;
}

.spotlight-project {
  width: 100%;
}

@media screen and (max-width: 768px) {
  * {
    font-size: 20px;
  }
  header {
    display: block;
    align-items: unset;
  }

  nav {    
   margin-top: 1rem;
    width: 100%;
    max-width: unset;
    /* height: 2rem; */
    /* display: flex; */
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
  }

  .header-text {
    padding-top: 1rem;
  }

  .nav-li {
    flex: 1;
    height: unset;
    margin-left: unset;
  }
  /* .nav-li * {
    font-size: 100%;
  } */

  .nav-li a {
   font-size: 120%;
    justify-content: center;
    padding: unset;
  }

  .main-container {
    margin-top: 0rem;
    width: 100%;
    padding: 0rem 1rem 2rem 1rem;
  }
  .section:nth-of-type(1) {
    margin-top: 1rem;
  }
}
